@import '../../styles/mixin';

.wrapper {
    @include breakpoint(sm) {
        width: 100%;
        padding-top: calc(
            var(--margin-standard-sm) + var(--header-navbar-height)
        );
        padding-bottom: var(--margin-standard-sm);
    }

    @include breakpoint(lg) {
        width: var(--width-wrapper);
        margin: 0 auto;
        padding-top: calc(
            var(--margin-standard-lg) + var(--header-navbar-height)
        );
        padding-bottom: var(--margin-standard-lg);
    }

    h2 {
        font-family: var(--mont);
        font-size: var(--title-font-size-sm);
        font-weight: var(--title-font-weight-extraBold);
        color: var(--text-color);

        @include breakpoint(sm) {
            margin-bottom: calc(var(--margin-standard-sm) / 2);
            padding: 0 1rem;
        }

        @include breakpoint(lg) {
            margin-bottom: calc(var(--margin-standard-lg) / 2);
            padding: 0;
        }
    }
}

.seeMoreBtn {
    text-align: center;
}
