.wrapper {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--text-color);
    padding: 0.625rem 1rem;
    border-radius: 0.5rem;
    border: 0.063rem solid rgba(0, 0, 0, 0.3);
    background-color: var(--white-color);

    &:hover {
        color: var(--white-color);
        border: 0.063rem solid rgba(0, 0, 0, 0.6);
        background-color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        transition: all linear 0.3s;
        will-change: color, background-color;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    .icon + .text,
    .text + .icon {
        margin-left: 0.5rem;
    }

    .icon {
        position: relative;
        top: 0.125rem;
    }
}

.home {
    color: var(--white-color);
    border: 0.063rem solid var(--white-color);
    background-color: rgba(255, 255, 255, 0.2);

    &:hover {
        color: var(--text-color);
        background-color: rgba(255, 255, 255, 0.74);
        border: 0.063rem solid rgba(255, 255, 255, 0.74);
    }
}

.rounded {
    border-radius: 2rem;
    background-color: var(--white-color);
    border: 0.063rem solid rgba(0, 0, 0, 0.8);
    outline: none;

    &:hover {
        color: var(--white-color);
        border: 0.063rem solid rgba(255, 255, 255, 0.6);
        background-color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        transition: all linear 0.3s;
        will-change: color, background-color;
    }
}

.circle {
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.4);
    padding: 1.2rem 1.3rem 1.3rem 1rem;
    border-radius: 50%;
    border: 0.063rem solid rgba(0, 0, 0, 0.3);
    background-color: #fff;

    &:hover {
        color: rgb(255, 255, 255);
        border: 0.063rem solid rgba(255, 255, 255, 0.6);
        background-color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        transition: all linear 0.3s;
        will-change: color, background-color;
    }
}

.active {
    border: 0.063rem solid var(--red-color);
    color: var(--red-color);
    background-color: rgba(238, 113, 104, 0.05);

    &:hover {
        background-color: rgba(238, 113, 104, 0.05);
        color: var(--red-color);
        border: 0.063rem solid var(--red-color);
        cursor: default;
    }
}

.sm {
    padding: 0.8rem 0.8rem 0.65rem 0.8rem;
}

.lg {
    font-size: 1rem;
    padding: 1.25rem 2.25rem;
}

.custom {
    color: blue;
}

.gtheme {
    color: rgba($color: #fff, $alpha: 0.7);
    border: 0.063rem solid rgba($color: #fff, $alpha: 0.7);
    background-color: rgba($color: #fff, $alpha: 0);
    &:hover {
        color: rgba($color: #000, $alpha: 0.6);
        border: 0.063rem solid rgba($color: #000, $alpha: 0.6);
        background-color: rgba($color: #fff, $alpha: 0.6);
    }
}
