@import '../../styles/mixin';
.container {
    // width: 59.875rem;
    margin: 0 auto;
    @include breakpoint(sm) {
        width: 100%;
        padding-top: var(--margin-standard-sm);
        padding-bottom: var(--margin-standard-sm);
    }

    @include breakpoint(lg) {
        width: 80%;
        padding-top: var(--margin-standard-lg);
        padding-bottom: var(--margin-standard-lg);
    }

    // TITLE
    .title {
        @include breakpoint(sm) {
            margin-bottom: calc(var(--margin-standard-sm) / 2);
        }

        @include breakpoint(lg) {
            margin-bottom: 100px;
        }

        h2 {
            font-family: 'Lora', serif;
            font-size: var(--title-font-size);
            font-weight: var(--title-font-weight);
            text-align: center;
            margin: 0;
            color: var(--text-color);
        }
    }

    // CONTENT
    .content {
        display: flex;

        @include breakpoint(sm) {
            flex-direction: column;
        }
        @include breakpoint(lg) {
            margin-left: -0.25rem;
            margin-right: -0.25rem;
            flex-direction: row;
        }

        .imgWrap {
            @include breakpoint(sm) {
                width: 100%;
            }
            @include breakpoint(lg) {
                width: 50%;
            }
        }

        .info {
            @include breakpoint(sm) {
                width: 100%;
                padding: 2rem 2rem 0 2rem;
                text-align: center;
            }
            @include breakpoint(lg) {
                width: 50%;
                padding: 0 0 0 9.375rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                text-align: left;
            }

            .infoHeader {
                font-size: 1.125rem;
                color: rgba(0, 0, 0, 0.3);
                font-weight: 100;
                margin: 0;
            }

            .infoTitle {
                font-size: 2.25rem;
                color: rgba(0, 0, 0, 0.76);
                font-weight: 400;
                @include breakpoint(sm) {
                    margin: calc(var(--margin-standard-sm) / 2) 0;
                }

                @include breakpoint(lg) {
                    margin: 30px 0 50px 0;
                }
            }

            .infoDesc {
                font-size: 1rem;
                color: rgba(0, 0, 0, 0.6);
                line-height: 1.8;

                @include breakpoint(sm) {
                    margin-bottom: calc(var(--margin-standard-sm) / 2);
                }

                @include breakpoint(lg) {
                    margin-bottom: calc(var(--margin-standard-lg) / 2);
                }
            }

            .nextbtn {
                margin-top: 2rem;
                color: rgba(0, 0, 0, 0.3);
                padding: 1.2rem 1.2rem 0.95rem 1.2rem;
                border-radius: 50%;
                border: 0.063rem solid rgba(0, 0, 0, 0.3);
                background-color: #fff;

                &:hover {
                    color: rgba(255, 255, 255);
                    border: 1px solid rgba(255, 255, 255, 0.6);
                    background-color: rgba(0, 0, 0, 0.6);
                    cursor: pointer;
                    transition: all linear 0.3s;
                    will-change: color, background-color;
                }

                .nextBtnIcon {
                    font-size: 1.4rem;
                }
            }
        }
    }
}
