@import '../../styles/mixin';

.container {
    // width: 59.875rem;
    width: 80%;
    margin: 0 auto;

    @include breakpoint(sm) {
        padding-top: var(--margin-standard-sm);
    }

    @include breakpoint(lg) {
        padding-top: var(--margin-standard-lg);
    }

    // HEADER
    .header {
        @include breakpoint(sm) {
            margin-bottom: calc(var(--margin-standard-sm) / 2);
        }

        @include breakpoint(lg) {
            margin-bottom: calc(var(--margin-standard-lg) / 2);
        }

        h3,
        p {
            font-family: 'Lora', serif;
            text-align: center;
            color: var(--text-color);
        }

        h3 {
            font-size: var(--title-font-size);
            font-weight: var(--title-font-weight);
            margin-bottom: var(--margin-bottom-title-subtitle);
        }

        p {
            font-size: 1rem;
            font-style: italic;
            font-weight: var(--title-font-weight);
        }
    }

    // CATEGORY
    .categories {
        display: flex;
        @include breakpoint(sm) {
            margin-bottom: calc(var(--margin-standard-sm) / 2);
        }

        @include breakpoint(lg) {
            margin-bottom: calc(var(--margin-standard-lg) / 2);
        }

        @include breakpoint(sm) {
            justify-content: space-between;
        }

        @include breakpoint(lg) {
            justify-content: end;
        }

        p {
            font-weight: 600;
            color: rgba(0, 0, 0, 0.8);
            cursor: pointer;
            margin-top: 0;
            margin-bottom: 0;

            @include breakpoint(sm) {
                font-size: 0.75rem;
            }

            @include breakpoint(lg) {
                font-size: 0.875rem;
                margin-left: 4.125rem;
            }

            .categoryIcon {
                position: relative;
                top: 0.188rem;
                color: rgba(0, 0, 0, 0.8);
                margin-left: 0.25rem;
            }

            &:hover,
            &:hover > .categoryIcon {
                color: rgba(0, 0, 0, 0.5);
                transition: all linear 0.3s;
            }
        }
    }

    // BUTTON
    .btnWrap {
        text-align: center;

        @include breakpoint(sm) {
            margin-top: calc(var(--margin-standard-sm) / 2);
        }

        @include breakpoint(lg) {
            margin-top: calc(var(--margin-standard-lg) / 2);
        }

        button {
            font-size: 0.875rem;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.8);
            background-color: #fff;
            border: 0.063rem solid rgba(0, 0, 0, 0.8);
            outline: none;
            border-radius: 1rem;
            padding: 0.125rem 1rem 0.5rem 1rem;

            .btnIcon {
                position: relative;
                top: 0.313rem;
                margin-left: 0.25rem;
                font-size: 1.25rem;
            }

            &:hover {
                color: #fff;
                border: 0.063rem solid rgba(255, 255, 255, 0.6);
                background-color: rgba(0, 0, 0, 0.6);
                cursor: pointer;
                transition: all linear 0.3s;
                will-change: color, background-color;
            }
        }
    }
}
