@import '../../styles/mixin';

.container {
    @include breakpoint(sm) {
        width: 100%;
        padding: var(--margin-standard-sm) 1rem;
    }

    @include breakpoint(lg) {
        width: 80%;
        margin: 0 auto;
        padding-top: var(--margin-standard-lg);
        padding-bottom: var(--margin-standard-lg);
    }

    // HEADER
    .header {
        @include breakpoint(sm) {
            margin-bottom: calc(var(--margin-standard-sm) / 2);
        }

        @include breakpoint(lg) {
            margin-bottom: calc(var(--margin-standard-lg) / 2);
        }

        h2,
        p {
            font-family: 'Lora', serif;
            text-align: center;
            color: var(--text-color);
        }

        h2 {
            font-size: var(--title-font-size);
            font-weight: var(--title-font-weight);
            margin-bottom: var(--margin-bottom-title-subtitle);
        }

        p {
            font-size: 1rem;
            font-weight: var(--title-font-weight);
        }
    }

    // CATEGORY
    .categories {
        display: flex;
        @include breakpoint(sm) {
            margin-bottom: calc(var(--margin-standard-sm) / 2);
        }

        @include breakpoint(lg) {
            margin-bottom: calc(var(--margin-standard-lg) / 2);
        }

        @include breakpoint(sm) {
            justify-content: space-between;
        }

        @include breakpoint(lg) {
            justify-content: end;
        }

        p {
            font-weight: 600;
            color: rgba(0, 0, 0, 0.8);
            cursor: pointer;
            margin-top: 0;
            margin-bottom: 0;

            @include breakpoint(sm) {
                font-size: 0.75rem;
            }

            @include breakpoint(lg) {
                font-size: 0.875rem;
                margin-left: 4.125rem;
            }

            .categoryIcon {
                position: relative;
                top: 0.188rem;
                color: rgba(0, 0, 0, 0.8);
                margin-left: 0.25rem;
            }

            &:hover,
            &:hover > .categoryIcon {
                color: rgba(0, 0, 0, 0.5);
                transition: all linear 0.3s;
            }
        }
    }

    .btnShopNow {
        text-align: center;
        @include breakpoint(sm) {
            margin-top: calc(var(--margin-standard-sm) / 2);
        }

        @include breakpoint(lg) {
            margin-top: calc(var(--margin-standard-lg) / 2);
        }
    }
}
