@import '../../styles/mixin';

.container {
    @include breakpoint(sm) {
        padding: var(--margin-standard-sm) 0;
    }

    @include breakpoint(lg) {
        padding: var(--margin-standard-lg) 0;
    }

    div {
        font-family: 'Lora', serif;
        font-size: var(--title-font-size);
        font-weight: var(--title-font-weight);
        color: var(--text-color);
        text-align: center;
        text-decoration: underline;
    }
}
