.container {
    padding: 6rem 0;
    div {
        font-family: 'Lora', serif;
        font-size: 3rem;
        color: rgba(0, 0, 0, 0.8);
        text-align: center;
        text-decoration: underline;
    }
}
