@import '../../styles/mixin';

.sliderContainer {
    position: relative;
    margin-top: calc(var(--margin-standard) / 2);

    .sliderInner {
        .prevIcon,
        .nextIcon {
            display: inline;
            font-size: 2rem;
            color: rgba(0, 0, 0, 0.4);
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            &:hover {
                color: var(--text-color);
                transition: all linear 0.3s;
            }
        }

        .prevIcon {
            @include breakpoint(sm) {
                left: -1rem;
            }

            @include breakpoint(lg) {
                left: -2.5rem;
            }
        }

        .nextIcon {
            @include breakpoint(sm) {
                right: -1rem;
            }

            @include breakpoint(lg) {
                right: -2.5rem;
            }
        }

        .sliderItem {
            cursor: pointer;
            position: relative;

            &:hover {
                transform: scale(1.08);
                transition: all ease-out 0.4s;
            }

            .info {
                .name {
                    font-size: 0.875rem;
                    font-weight: 600;
                    color: var(--text-color);
                    margin: 1.25rem 0 0.625rem 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .desc {
                    font-size: 0.75rem;
                    color: var(--text-color);
                    margin: 0 0 0.625rem 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .price {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 0.875rem;
                    font-weight: 600;

                    .currPrice {
                        color: var(--red-color);
                    }

                    .oldPrice {
                        position: relative;
                        color: #707070;

                        &::after {
                            content: '';
                            width: 100%;
                            height: 0.063rem;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            background-color: #707070;
                        }
                    }
                }

                .discount {
                    position: absolute;
                    top: 16px;
                    left: -4px;
                    font-size: 0.75rem;
                    background-color: var(--red-color);
                    color: var(--white-color);
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    padding: 0 4px;
                    height: 1.6rem;
                    line-height: 1.6rem;

                    &::after {
                        content: '';
                        display: block;
                        border-top: 4px solid var(--red-color);
                        border-left: 4px solid transparent;
                        position: absolute;
                        top: 100%;
                        left: 0;
                    }
                }
            }
        }
    }
}
