@import '../../styles/mixin';

.wrapper {
    // padding-bottom: var(--margin-standard);
    @include breakpoint(sm) {
        width: 100%;
    }

    @include breakpoint(lg) {
        width: var(--width-wrapper);
        margin: 0 auto;
    }

    > h2 {
        font-family: 'Lora', serif;
        font-size: var(--title-font-size);
        font-weight: var(--title-font-weight);
        text-align: center;
        color: var(--text-color);

        @include breakpoint(sm) {
            font-size: 2.5rem;
        }

        @include breakpoint(lg) {
            font-size: var(--title-font-size);
        }
    }
}

.content {
    display: flex;
    justify-content: center;

    @include breakpoint(sm) {
        flex-direction: column-reverse;
        margin: 0;
        padding-top: calc(var(--margin-standard-sm) / 2);
    }

    @include breakpoint(lg) {
        flex-direction: row;
        margin: 0 -1.5rem;
        padding-top: calc(var(--margin-standard-lg) / 2);
    }

    .body {
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1.5rem;
        > h2 {
            font-family: 'Lora', serif;
            font-size: 2.5rem;
            font-weight: var(--title-font-weight);
            color: var(--text-color);
            margin-bottom: 40px;
        }
        @include breakpoint(sm) {
            width: 100%;
            text-align: center;
        }

        @include breakpoint(lg) {
            width: 50%;
            text-align: left;
        }

        .para {
            line-height: 1.6;

            & + .para {
                margin-top: 1.5rem;
            }
        }
    }

    .imageWrap {
        width: 50%;
        @include breakpoint(sm) {
            width: 100%;
            padding: 0 0 2.25rem;
        }

        @include breakpoint(lg) {
            width: 50%;
            padding: 0 1.5rem;
        }
    }
}
