@import '../../styles/mixin';
.wrapper {
    @include breakpoint(sm) {
        width: 100%;
        padding-top: var(--margin-standard-sm);
        margin-bottom: 30px;
    }

    @include breakpoint(lg) {
        width: var(--width-wrapper);
        margin: 0 auto;
        padding-top: var(--margin-standard-lg);
        margin-bottom: 50px;
    }

    h2 {
        font-family: 'Lora', serif;
        font-weight: var(--title-font-weight);
        color: var(--text-color);
        text-align: center;
        padding: 0 1rem;

        @include breakpoint(sm) {
            margin-bottom: calc(var(--margin-standard-sm) / 2);
            font-size: 2.5rem;
        }

        @include breakpoint(lg) {
            margin-bottom: calc(var(--margin-standard-lg) / 2);
            font-size: var(--title-font-size);
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include breakpoint(sm) {
        margin: 0;
    }

    @include breakpoint(lg) {
        margin: 0 -1rem;
    }

    .item {
        padding: 0 1rem;

        @include breakpoint(sm) {
            width: 50%;
        }

        @include breakpoint(lg) {
            width: 25%;
        }

        p {
            text-align: center;
        }
    }
}
