@import '../../styles/mixin';

.wrapper {
    position: relative;

    @include breakpoint(sm) {
        padding-top: calc(var(--margin-standard-sm) / 2);
        width: 90%;
        margin: 0 auto;
    }

    @include breakpoint(lg) {
        padding-top: calc(var(--margin-standard-lg) / 2);
        width: initial;
    }

    .sliderInner {
        .prevIcon,
        .nextIcon {
            display: inline;
            font-size: 2rem;
            color: rgba(0, 0, 0, 0.4);
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            &:hover {
                color: var(--text-color);
                transition: all linear 0.3s;
            }
        }

        .prevIcon {
            @include breakpoint(sm) {
                left: -1rem;
            }

            @include breakpoint(lg) {
                left: -2.5rem;
            }
        }

        .nextIcon {
            @include breakpoint(sm) {
                right: -1rem;
            }

            @include breakpoint(lg) {
                right: -2.5rem;
            }
        }

        .sliderItem {
            // cursor: pointer;
            position: relative;
            padding: 1rem;
            border: 2px solid rgba(0, 0, 0, 0.1);
            border-radius: 1.25rem;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            // &:hover {
            //     transform: scale(1.08);
            //     transition: all ease-out 0.4s;
            // }

            .imgWrap {
                border-radius: 1.25rem;
            }

            .info {
                .name {
                    font-size: 1rem;
                    font-weight: 700;
                    color: var(--text-color);
                    margin: 1.25rem 0;
                    text-align: center;
                }

                .position {
                    font-size: 1rem;
                    // font-weight: 600;
                    color: rgba(0, 0, 0, 0.6);
                    text-align: center;
                    margin-bottom: 1.25rem;
                }

                .desc {
                    font-size: 0.875rem;
                    color: rgba(0, 0, 0, 0.6);
                    margin: 0 0 0.625rem 0;
                    text-align: center;
                    line-height: 1.6;
                }
            }
        }
    }
}
