@import '../../styles/mixin';

.wrapper {
    @include breakpoint(sm) {
        width: 100%;
        padding-top: var(--margin-standard-sm);
    }

    @include breakpoint(lg) {
        width: var(--width-wrapper);
        margin: 0 auto;
        padding-top: var(--margin-standard-lg);
    }

    h2 {
        font-family: 'Lora', serif;
        font-weight: var(--title-font-weight);
        color: var(--text-color);
        text-align: center;
        padding: 0 1rem;

        @include breakpoint(sm) {
            margin-bottom: calc(var(--margin-standard-sm) / 2);
            font-size: 2.5rem;
        }

        @include breakpoint(lg) {
            margin-bottom: calc(var(--margin-standard-lg) / 2);
            font-size: var(--title-font-size);
        }
    }

    p {
        color: rgba(0, 0, 0, 0.6);
        line-height: 2;
        font-style: italic;

        @include breakpoint(sm) {
            font-size: 1rem;
            padding: 0 1rem;
            text-align: center;
        }

        @include breakpoint(lg) {
            font-size: 1.125rem;
            padding: 0;
            text-align: center;
        }
    }
}
