.wrapper {
    padding-top: var(--header-navbar-height);
}

.banner {
    width: 100%;
    height: 25rem;
    position: relative;
    background: #e7e7e7;
    background-size: cover;
    background-position: center;

    .btn {
        position: absolute;
        bottom: 1.25rem;
        right: 1.25rem;
    }
}

.content {
    width: 70vw;
    min-width: 25rem;
    display: block;
    margin: auto;
    padding: 3.125rem 0;

    textarea::-webkit-scrollbar {
        width: 0.625rem;
    }

    textarea::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 0.625rem;
    }
}

.title,
.article {
    width: 100%;
    min-height: 6.25rem;
    height: auto;
    outline: none;
    font-size: 3.125rem;
    font-weight: 600;
    color: var(--text-color);
    resize: none;
    border: none;
    padding: 0.625rem;
    border-radius: 0.625rem;
}

.title::placeholder,
.article::placeholder {
    color: #2d2d2d;
}

.note {
    padding: 1.5rem 1rem;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--text-color);

    h3 {
        margin-bottom: 1.5rem;
    }

    .icon {
        margin-right: 0.5rem;
        color: var(--primary-green-color);
        position: relative;
        top: 0.063rem;
    }

    ul > li {
        margin-top: 1rem;
        line-height: 1.6;
        padding: 0 1rem;
    }
}

.article {
    min-height: 31.25rem;
    font-size: 1.25rem;
    margin-top: 1.25rem;
    line-height: 1.875rem;
    font-weight: 500;
    padding-bottom: 6.25rem;
    white-space: pre-wrap;
}

.options {
    position: fixed;
    bottom: 1rem;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    .btn {
        margin-right: 1rem;
    }
}
