@import '../../styles//mixin';

.container {
    background-color: #f5f5f7;
}

.wrapper {
    @include breakpoint(sm) {
        width: 100%;
        padding: var(--header-navbar-height) 1rem var(--margin-standard-sm);
    }

    @include breakpoint(lg) {
        width: var(--width-wrapper);
        margin: 0 auto;
        padding-top: var(--header-navbar-height);
        padding-bottom: var(--margin-standard-lg);
    }

    h3 {
        font-size: 1.875rem;
        font-weight: var(--title-font-weight);
        line-height: 1.6;

        @include breakpoint(sm) {
            margin-top: calc(var(--margin-standard-sm) / 2);
        }

        @include breakpoint(lg) {
            margin-top: calc(var(--margin-standard-lg) / 2);
        }
    }
}
