.wrapper {
    padding-top: calc(var(--header-navbar-height) + var(--margin-standard-lg));
    width: var(--width-wrapper);
    margin: 0 auto;
}
.btnWrap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: calc(var(--margin-standard-lg) / 2);
}
