.subLink {
    position: absolute;
    top: 100px;
    left: 10%;
    background-color: #00463b;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    &.onTop {
        background-color: rgba($color: #858585, $alpha: 0.95);
        .item {
            &:hover {
                background-color: #737373;
            }
        }
        > li > ul {
            background-color: rgba($color: #858585, $alpha: 0.95);

            > li {
                &:hover {
                    background-color: #737373;
                }
            }
        }
    }
    // .item:nth-of-type(1) {
    //     color: red;
    // }
    .item {
        margin: 0;
        color: #fff;
        text-align: start;
        padding: 20px;
        display: flex;
        align-items: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 10px 20px 10px 20px;
        // position: absolute;
        border-radius: 5px;
        position: relative;
        &:nth-of-type(1) {
            margin-top: 5px;
        }
        &:nth-last-of-type(1) {
            margin-bottom: 5px;
        }
        &:hover {
            background-color: #005447;
        }
    }
    &.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &.one {
        left: 7%;
        width: 300px;
        .wrapper {
            position: absolute;
            left: 0;
            top: -30px;
            width: 220px;
            height: 60px;
            opacity: 0;
        }
    }
    &.two {
        left: 18%;
        width: 200px;
        .wrapper {
            position: absolute;
            left: 0;
            top: -30px;

            width: 120px;
            height: 60px;
            opacity: 0;
        }
    }
    &.three {
        left: 28%;
        .wrapper {
            position: absolute;
            left: 0;
            top: -30px;
            width: 150px;
            height: 60px;
            opacity: 0;
        }
    }
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;

    @keyframes rotateMenu {
        0% {
            transform: rotateX(-90deg);
        }
        70% {
            transform: rotateX(20deg);
        }
        100% {
            transform: rotateX(0deg);
        }
    }
}
.subLinkLV2 {
    position: absolute;
    top: 0;
    left: 110%;
    background-color: #00463b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;

    animation: rotateMenu2 400ms ease-in-out forwards;
    transform-origin: top center;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    @keyframes rotateMenu2 {
        0% {
            opacity: 0;
            transform: translateX(-30px);
        }

        80% {
            transform: translateX(5px);
        }

        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .subLVItem {
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
        width: 100%;
        &:nth-of-type(1) {
            margin-top: 5px;
        }
        &:nth-last-of-type(1) {
            margin-bottom: 5px;
        }
        &:hover {
            background-color: #005447;
        }
    }

    > .wrapper2 {
        position: absolute;
        left: -40px;
        top: 0;
        width: 60px;
        height: 100%;
        opacity: 0;
    }
}
